fastapi==0.111.0
uvicorn==0.30.1
sqlalchemy==2.0.31
pydantic==2.7.4
pyjwt==2.8.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
web3==6.19.0
eth-tester==0.11.0b1
requests==2.32.3
python-dotenv==1.0.1
cors==1.0.1
